@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
:root{
    --primary-color: white;
    --secondary-color: gray;
    --tertiary-color: blue;
    --primary-font: white;
    --secondary-font: black;
    --tertiary-font: rgb(57, 57, 163);
    --btn-light: lightgreen;
    --btn-dark: #648dc7;
    --btn-gradient: linear-gradient(-45deg, #648dc7, lightgreen);
    --btn-gradient-inverse: linear-gradient(-45deg, lightgreen, #648dc7);
    --background-primary: rgb(219, 213, 213);
    --background-secondary: #245c04;
}